.app {
    text-align: center;
  }
  
  .notfound-title {
    font-size: 100%;
  }
  
  .notfound-content {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: calc(100vh - 160px);
  }
  
  .notfound-link {
    color: #50a8ff;
  }
  
  .notfound-link:hover {
    color: #ffffff;
  }
  