.repository-list {
    padding: 0em 0em 0em 0em;
}

button {
    font-family: verdana;
    background-color: rosybrown;
    text-align: center;
    margin: 3px;
    padding: 1em;
    border-color: #282c34;
    border-width: 2px;
    max-width: 80%;
  }