.header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #ffffff;
    padding: 20px;
  }
   
  .header-text {
    text-transform: lowercase;
    letter-spacing: 0.2em;
  }
  