.app {
  text-align: center;
}

.app-title {
  font-size: 100%;
}

.app-content {
  padding-top: 1em;
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #50a8ff;
}
